
<div class="container-xs m-5">
  <div class="row justify-content-center align-items-center">
      <div class="col-lg-12 bg-dark rounded">
          <h1 class="text-light text-center py-2">Admin's Profile</h1>
      </div>
  </div>
  <div class="row justify-content-center align-items-center my-5">
      <div class="col-lg-8">
        <button type="button" class="btn btn-success" routerLink="/retailer-signup">Add Retailer</button>
      </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-center align-items-center mb-5">
      <div class="col-lg-12 table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col" class="p-3 col-s-1">Retailer's id</th>
                  <th scope="col" class="p-3 col-s-2">Retailer's name</th>
                  <th scope="col" class="p-3 col-s-2">Edit Product</th>
                  <th scope="col" width="75px" class="p-2 col-s-2">Notification to verify</th>
                  <th scope="col" class="p-3 col-s-1">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="p-3 text-center">1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="p-3 text-center"><button class="btn btn-danger btn-sm text-light">x</button></td>
                </tr>
                <tr>
                  <th scope="row" class="p-3 text-center">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td class="p-3 text-center"><button class="btn btn-danger btn-sm text-light">x</button></td>
                </tr>
                
                <tr>
                  <th scope="row" class="p-3 text-center">3</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="p-3 text-center"><button class="btn btn-danger btn-sm text-light">x</button></td>
                </tr>
                <tr>
                  <th scope="row" class="p-3 text-center">4</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="p-3 text-center"><button class="btn btn-danger btn-sm text-light">x</button></td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>

